.layout {
    display: flex;
    width: 988px;
    padding: 96px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    background: #FFF;
}

.tab {
    overflow: hidden;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #F5F5F5; /* Primary button color */
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px; /* Adjusted to match your button */
    color: #FFF; /* Text color */
    border-radius: 4px; /* Rounded corners */
    margin: 4px; /* Space between buttons, adjust as needed */
    width: 306px;
    color: #333;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #0B60AE; /* Lighter or darker shade for hover effect */
    color: #FFF;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0B60AE; /* A darker shade for the active state */
    color: #fff;
}
.cowculator {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}

h1 {
    color: #333;
    font-family: Arial;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

h2 {
    color: var(--Text-Dark, #333);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;

}

.two-column {
    display: flex;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
}

.calculator-inputs {
    display: flex;
    width: 612px;
    padding: 36px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    border-radius: 3px;
}


.input-field {
    display: flex;
    padding: 14px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1.5px solid var(--Dark-Grey, #E3E3E3);
    background: var(--Light-Grey, #F5F5F5);
}

.input-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.input-field-2 {
    display: flex;
    padding: 14px 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1.5px solid var(--Dark-Grey, #E3E3E3);
    background: var(--Light-Grey, #F5F5F5);

}

.input-item-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.practices-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.practice-parent-category {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Light-Grey, #F5F5F5);
}

.practice-subcategories {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.body-copy-bold {
    color: var(--Text-Dark, #333);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frame-1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Light-Grey, #F5F5F5);
}

.frame-2 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Light-Grey, #F5F5F5);
}

.frame-3 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Light-Grey, #F5F5F5);
}
.body-copy-regular {
    color: var(--Text-Dark, #333);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-label {
    width: 572px;
    height: 17px;
}

.calculator-outputs {
    display: flex;
    padding: 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--Dark-Blue, #0B60AE);
    box-shadow: 0px 4px 16px 2px rgba(22, 22, 22, 0.20);
    
}


.button {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #0B60AE;
    color: #FFF;
    border: none;
    cursor: pointer;

}

.reductions-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    color: white;
    color: var(--Light-Grey, #F5F5F5);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.units {
    color: var(--Light-Blue, #A7E0FF);
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

hr {
    stroke-width: 5px;
    stroke: var(--Light-Grey, #F5F5F5);
    width: 100%;
    height:0px;
    border: 3px solid  #F5F5F5;
    border-radius: 50px;
    fill: none;
}

.equivalent-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.caption-bold {
    color: var(--Light-Grey, #F5F5F5);

    /* Caption */
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    margin: 0;
}

.caption-regular {
    color: var(--Light-Grey, #F5F5F5);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.h2-white {
    color: var(--Light-Grey, #F5F5F5);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.body-copy-bold-blue{
    color: #A7E0FF;

    /* Body Copy (Bold) */
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

button {
    cursor: pointer;
}